*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
}

body {
    height: 200vh;
}

h1 {
    text-align: center;
    font-size: 1.5em;
}

#logo {
    display: block;
    padding: 1.5em;
    border-bottom: 0.1em solid black;
}

#body-spacer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 34em;
}

#login-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 0.1em solid black;
    padding: 1em;
}
#login-container * {
    margin: 2.2em 1.5em;
    padding: 0.2em;
}

#flav-text {
                    display: none;
}

#post_box {
    width: 80%;
    height: 500px;
  }

  table {
    border-color: black;
    border-style: solid;
  }
  tr {
    border-color: black;
    border-style: solid;
  }
  td {
    border-color: black;
    border-style: solid;
  }

@media screen and (min-width: 725px) {
    *,
    *::after,
    *::before {
        font-size: 16px;
    }
    #body-spacer * {
        margin: 1em 2vw;
    }
    #flav-text {
        display: inline;
        width: 60%;
        font-style: oblique;
        font-size: larger;
        padding: 0 1em;
    }
    #login-container {
        width: 30vw;
    }
}
