{% block head %}
<title>Kwitter - Login</title>
{% endblock %}

{% block body %}
<h1>This will be the homepage</h1>
{% if request.cookies.get('name') != None %}
<h2>Welcome {{ request.cookies.get('name') }}</h2>
<h2>Your id number is {{ request.cookies.get('id') }}</h2>
<br/>
<form action='/make_post' method='POST'>
  <input name="post_space" type="text" placeholder="Post your deranged rants here" id="post_box"/>
  <input type='submit' value="Post"/>
</form>

<a href="/logout">Log Out</a>

{% else %}
<a href="/login">Login</a>
<a href="/create">Create account</a>
{% endif %}

<table>
  <tr>
    <th>Posts</th>
  </tr>
  {% if posts %}
    {% for i in posts %}
  <tr>
    <td><a href="/profile/{{ i[2] }}">{{ i[2] }}</a></td>
    <td><h2>{{ i[3] }}</h2></td>
    <td>
      <form action="/comment/{{ i[0] }}" method="POST">
      <input type="text" name="comment" placeholder="Post a comment"/>
      <input type="submit" value="Post"/>
      </form>
    </td>
    {% if i[2] == request.cookies.get('name') or request.cookies.get('name') == 'admin' %}
      <td>
        <form action='/delete/pst/{{ i[0] }}' method="POST">
          <input type='submit' value='Delete'/>
        </form>
      </td>
    {% endif %}
    <form action='/like' method="POST">
      <input type='text' name='post-id' value='{{ i[0] }}'/>
      <button type='submit' value='like'>Like</button>
    </form>
    {% for x in comments %}
    {% if x[2] == i[0] %}
      <tr>
        <td>{{ x[4] }}</td>
        <td><a href="profile/{{ i[3]}}">{{ x[3]}}</a></td>
          {% if x[3] == request.cookies.get('name') or request.cookies.get('name') == 'admin' %}
          <td>
            <form action='/delete/comment/{{ x[0] }}' method="POST">
              <input type='submit' value='Delete'/>
            </form>
          </td>
          {% endif %}
      </tr>
    {% endif %}
  {% endfor %}
{% endfor %}
{% else %}
<h1>There are no posts</h1>
{% endif %}
</table>

{% endblock %}