
{% extends "base.html" %}
{% block head %}

	<title>Kwitter - {{ user }}'s Profile'</title>


{% endblock %}
{% block body %}
<img class="logo" src="/static/birds.jpg"/>
<div class="header">

  <h1 class="head_txt">Kwitter</h1>
  <a href="/home" class="head_txt">Return Home</a>
  <h1 class="head_txt">{{ user }}'s page</h1>
</div>
<div class="center">
  {% if all_posts %}
    <table>
      <tr class="table_span">
        <td class="table_spanner">
          Posts by {{ user }}
        </td>
      </tr>
      {% for i in all_posts %}
      <tr class="table_span">
       <td class="table_spanner"><h1>{{ i[3] }}</h1></td>
      </tr>
      {% endfor %}
    </table>
  {% else %}
  <h1>This person hasn't made any posts yet</h1>
  {% endif %}
</div>
  {% if user == request.cookies.get('name') %}
  <div id="messages">
    {% if all_messages %}
    <table>
      <tr class="table_span">
        <th class="table_spanner">Your Messages</th>
      </tr>
      <tr class="table_span">
        <td class="table_id">Sender</td>
        <td class="table_spanner">Message</td>
        <td class="table_id">Remove</td>
      {% for y in all_messages %}
      <tr class="table_span">
        <td class="table_id">{{ y[1] }}</td>
        <td class="table_spanner"><h3>{{ y[3] }}</h3></td>
        <td class="table_id">
          <form action="/delete/message/{{ y[0] }}" method='POST'>
            <input type="submit" value="Delete"/>
          </form>
        </td>
      </tr>
      {% endfor %}
    {% else %}
    <h2>You don't have any messages right now</h2>
    {% endif %}
  </div>

  {% elif request.cookies.get('name') != None %}
  <div id="send_message">
  <h1 class="head_txt">Send {{ user }} a message</h1>
    <form action="/message/{{ user }}" method='POST'>
      <input class="post_box" type="text" name="message" placholder="Type your message here"/>
      <input type="submit" value="Send Message"/>
    </form>
  </div>
  {% endif %}
{% endblock %}
